{% load staticfiles %}
 
<html> 
<head>
	<title>The Computer Store</title>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body> 
	<div class="container-fluid navbaritems navbaritemss">
		<div class="navbar-header" >
			<a class="navbar-brand imgset">
				<img src="{% static '/images/navlogo.png' %}"  width=84px>
			</a>
		</div>
		<div class="navbar">
        	<ul class="nav navbar-nav navbar-right">
        		<!-- <li><a style="color:white;" href="/computer_store/home">HOME</a></li> -->
        		<li><a style="color:white;" href="/computer_store/dash">Back</a></li>
      		</ul>
    	</div>
	</div>
	<!-- Create basic input file uploader -->

<div class="copyright">
    <p>Copyright &copy; The Computer Store 2018</p>
</div>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static '/js/edit.js' %}" ></script>
</body>
</html>
